<link rel="stylesheet" href="goods.css">
<link href="https://fonts.googleapis.com/css?family=Della+Respira&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">


  <% @@cookies.each do |cookie| %>
    <div class="pics">
    <img src="<%= cookie.image %>" height="150px" width="150px">
    </div>
<div class="info">

    <h2 id ="name"><%= cookie.name %> </h2>
    <h2 id ="allerg"><%= cookie.allergens %> </h2>
    <p id ="desc"><%= cookie.description %></p>
    <p id ="price">$<%= cookie.price %></p>
</div>
    <% end %>
